footer{
    background-color: rgba(0, 0, 0, 0.644);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 1100px;
    height: 50px;
    text-align: center;
    padding: 2px 0 2px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 510px;
    margin-right: 550px;
    margin-top: 100px;
}
.ri-github-fill{
    font-size: 30px;
}
.profile{
    text-decoration: none;
    color: white;
    gap: 10px;
}